ADF-JMA-PROD/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-JMA-PROD"
		},
		"AzureBlobStorageLS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorageLS'"
		},
		"LS_Snowflake_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_Snowflake'"
		},
		"SnowflakeV1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SnowflakeV1'"
		},
		"AzureKeyVaultForSnowflake_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://AzureKeyVaultManager.vault.azure.net/"
		},
		"LS_AzureBlobStorage_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'LS_AzureBlobStorage'"
		},
		"LS_Snowflake_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "INVOICE"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_Blob_to_Snowflake_Incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"fieldList": []
						}
					},
					{
						"name": "Filter",
						"type": "Filter",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@greaterThan(item().lastModified, activity('Lookup').output.firstRow.WATERMARK_VALUE)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Filter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Lookup Watermark",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-15T05:28:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorageLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorageLS_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVaultForSnowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVaultForSnowflake_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureBlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('LS_AzureBlobStorage_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "RCEVYXE-QW48432",
					"user": "aakash",
					"database": "[parameters('LS_Snowflake_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_Snowflake_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeV1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('SnowflakeV1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobCSVDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "invoices_dataset.csv",
						"container": "invoice-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "subsidiary",
						"type": "String"
					},
					{
						"name": "source_system",
						"type": "String"
					},
					{
						"name": "invoice_country",
						"type": "String"
					},
					{
						"name": "mdm_bill_payer_country",
						"type": "String"
					},
					{
						"name": "invoice_id",
						"type": "String"
					},
					{
						"name": "invoice_number",
						"type": "String"
					},
					{
						"name": "invoice_type",
						"type": "String"
					},
					{
						"name": "invoice_document_type",
						"type": "String"
					},
					{
						"name": "invoice_status",
						"type": "String"
					},
					{
						"name": "invoice_date",
						"type": "String"
					},
					{
						"name": "invoice_month",
						"type": "String"
					},
					{
						"name": "line_item_id",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "external_reference",
						"type": "String"
					},
					{
						"name": "invoice_trn_id",
						"type": "String"
					},
					{
						"name": "raw_gl_account_code",
						"type": "String"
					},
					{
						"name": "trn",
						"type": "String"
					},
					{
						"name": "trn_raw",
						"type": "String"
					},
					{
						"name": "trn_1",
						"type": "String"
					},
					{
						"name": "trn_2",
						"type": "String"
					},
					{
						"name": "trn_3",
						"type": "String"
					},
					{
						"name": "trn_4",
						"type": "String"
					},
					{
						"name": "trn_5",
						"type": "String"
					},
					{
						"name": "trn_6",
						"type": "String"
					},
					{
						"name": "raw_referrer_id",
						"type": "String"
					},
					{
						"name": "raw_referrer_name",
						"type": "String"
					},
					{
						"name": "raw_referrer_type",
						"type": "String"
					},
					{
						"name": "mdm_referrer_id",
						"type": "String"
					},
					{
						"name": "mdm_referrer_name",
						"type": "String"
					},
					{
						"name": "global_referrer_id",
						"type": "String"
					},
					{
						"name": "global_referrer_name",
						"type": "String"
					},
					{
						"name": "raw_bill_payer_id",
						"type": "String"
					},
					{
						"name": "raw_bill_payer_name",
						"type": "String"
					},
					{
						"name": "raw_bill_payer_type",
						"type": "String"
					},
					{
						"name": "mdm_bill_payer_id",
						"type": "String"
					},
					{
						"name": "mdm_bill_payer_name",
						"type": "String"
					},
					{
						"name": "global_bill_payer_id",
						"type": "String"
					},
					{
						"name": "global_bill_payer_name",
						"type": "String"
					},
					{
						"name": "raw_role_id",
						"type": "String"
					},
					{
						"name": "raw_role",
						"type": "String"
					},
					{
						"name": "mdm_role_id",
						"type": "String"
					},
					{
						"name": "mdm_role",
						"type": "String"
					},
					{
						"name": "global_role_id",
						"type": "String"
					},
					{
						"name": "global_role",
						"type": "String"
					},
					{
						"name": "raw_billing_type_id",
						"type": "String"
					},
					{
						"name": "raw_billing_type",
						"type": "String"
					},
					{
						"name": "mdm_billing_type_id",
						"type": "String"
					},
					{
						"name": "mdm_billing_type",
						"type": "String"
					},
					{
						"name": "global_billing_type_id",
						"type": "String"
					},
					{
						"name": "global_billing_type",
						"type": "String"
					},
					{
						"name": "raw_channel_id",
						"type": "String"
					},
					{
						"name": "raw_channel",
						"type": "String"
					},
					{
						"name": "mdm_channel_id",
						"type": "String"
					},
					{
						"name": "mdm_channel",
						"type": "String"
					},
					{
						"name": "mdm_gl_account_code",
						"type": "String"
					},
					{
						"name": "global_channel_id",
						"type": "String"
					},
					{
						"name": "global_channel",
						"type": "String"
					},
					{
						"name": "net",
						"type": "String"
					},
					{
						"name": "invoice_currency",
						"type": "String"
					},
					{
						"name": "net_local_currency",
						"type": "String"
					},
					{
						"name": "local_currency",
						"type": "String"
					},
					{
						"name": "net_gbp",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "reference",
						"type": "String"
					},
					{
						"name": "unit_price",
						"type": "String"
					},
					{
						"name": "vat",
						"type": "String"
					},
					{
						"name": "gross",
						"type": "String"
					},
					{
						"name": "total_vat",
						"type": "String"
					},
					{
						"name": "invoice_total",
						"type": "String"
					},
					{
						"name": "created_date",
						"type": "String"
					},
					{
						"name": "updated_date",
						"type": "String"
					},
					{
						"name": "date_uploaded",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "maturity_date",
						"type": "String"
					},
					{
						"name": "closing_date",
						"type": "String"
					},
					{
						"name": "inflation_flag",
						"type": "String"
					},
					{
						"name": "is_taken_for_cube",
						"type": "String"
					},
					{
						"name": "maturity_date_updated",
						"type": "String"
					},
					{
						"name": "maturity_date_missing_flag",
						"type": "String"
					},
					{
						"name": "recurring_flag",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BlobCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Invoice_data.csv",
						"container": "invoice-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "subsidiary",
						"type": "String"
					},
					{
						"name": "source_system",
						"type": "String"
					},
					{
						"name": "invoice_country",
						"type": "String"
					},
					{
						"name": "mdm_bill_payer_country",
						"type": "String"
					},
					{
						"name": "invoice_id",
						"type": "String"
					},
					{
						"name": "invoice_number",
						"type": "String"
					},
					{
						"name": "invoice_type",
						"type": "String"
					},
					{
						"name": "invoice_document_type",
						"type": "String"
					},
					{
						"name": "invoice_status",
						"type": "String"
					},
					{
						"name": "invoice_date",
						"type": "String"
					},
					{
						"name": "invoice_month",
						"type": "String"
					},
					{
						"name": "line_item_id",
						"type": "String"
					},
					{
						"name": "description",
						"type": "String"
					},
					{
						"name": "external_reference",
						"type": "String"
					},
					{
						"name": "invoice_trn_id",
						"type": "String"
					},
					{
						"name": "raw_gl_account_code",
						"type": "String"
					},
					{
						"name": "trn",
						"type": "String"
					},
					{
						"name": "trn_raw",
						"type": "String"
					},
					{
						"name": "trn_1",
						"type": "String"
					},
					{
						"name": "trn_2",
						"type": "String"
					},
					{
						"name": "trn_3",
						"type": "String"
					},
					{
						"name": "trn_4",
						"type": "String"
					},
					{
						"name": "trn_5",
						"type": "String"
					},
					{
						"name": "trn_6",
						"type": "String"
					},
					{
						"name": "raw_referrer_id",
						"type": "String"
					},
					{
						"name": "raw_referrer_name",
						"type": "String"
					},
					{
						"name": "raw_referrer_type",
						"type": "String"
					},
					{
						"name": "mdm_referrer_id",
						"type": "String"
					},
					{
						"name": "mdm_referrer_name",
						"type": "String"
					},
					{
						"name": "global_referrer_id",
						"type": "String"
					},
					{
						"name": "global_referrer_name",
						"type": "String"
					},
					{
						"name": "raw_bill_payer_id",
						"type": "String"
					},
					{
						"name": "raw_bill_payer_name",
						"type": "String"
					},
					{
						"name": "raw_bill_payer_type",
						"type": "String"
					},
					{
						"name": "mdm_bill_payer_id",
						"type": "String"
					},
					{
						"name": "mdm_bill_payer_name",
						"type": "String"
					},
					{
						"name": "global_bill_payer_id",
						"type": "String"
					},
					{
						"name": "global_bill_payer_name",
						"type": "String"
					},
					{
						"name": "raw_role_id",
						"type": "String"
					},
					{
						"name": "raw_role",
						"type": "String"
					},
					{
						"name": "mdm_role_id",
						"type": "String"
					},
					{
						"name": "mdm_role",
						"type": "String"
					},
					{
						"name": "global_role_id",
						"type": "String"
					},
					{
						"name": "global_role",
						"type": "String"
					},
					{
						"name": "raw_billing_type_id",
						"type": "String"
					},
					{
						"name": "raw_billing_type",
						"type": "String"
					},
					{
						"name": "mdm_billing_type_id",
						"type": "String"
					},
					{
						"name": "mdm_billing_type",
						"type": "String"
					},
					{
						"name": "global_billing_type_id",
						"type": "String"
					},
					{
						"name": "global_billing_type",
						"type": "String"
					},
					{
						"name": "raw_channel_id",
						"type": "String"
					},
					{
						"name": "raw_channel",
						"type": "String"
					},
					{
						"name": "mdm_channel_id",
						"type": "String"
					},
					{
						"name": "mdm_channel",
						"type": "String"
					},
					{
						"name": "mdm_gl_account_code",
						"type": "String"
					},
					{
						"name": "global_channel_id",
						"type": "String"
					},
					{
						"name": "global_channel",
						"type": "String"
					},
					{
						"name": "net",
						"type": "String"
					},
					{
						"name": "invoice_currency",
						"type": "String"
					},
					{
						"name": "net_local_currency",
						"type": "String"
					},
					{
						"name": "local_currency",
						"type": "String"
					},
					{
						"name": "net_gbp",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "reference",
						"type": "String"
					},
					{
						"name": "unit_price",
						"type": "String"
					},
					{
						"name": "vat",
						"type": "String"
					},
					{
						"name": "gross",
						"type": "String"
					},
					{
						"name": "total_vat",
						"type": "String"
					},
					{
						"name": "invoice_total",
						"type": "String"
					},
					{
						"name": "created_date",
						"type": "String"
					},
					{
						"name": "updated_date",
						"type": "String"
					},
					{
						"name": "date_uploaded",
						"type": "String"
					},
					{
						"name": "department",
						"type": "String"
					},
					{
						"name": "maturity_date",
						"type": "String"
					},
					{
						"name": "closing_date",
						"type": "String"
					},
					{
						"name": "inflation_flag",
						"type": "String"
					},
					{
						"name": "is_taken_for_cube",
						"type": "String"
					},
					{
						"name": "maturity_date_updated",
						"type": "String"
					},
					{
						"name": "maturity_date_missing_flag",
						"type": "String"
					},
					{
						"name": "recurring_flag",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Snowflake_Invoice')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [],
				"typeProperties": {
					"schema": "STAGING",
					"table": "invoice_data"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_Snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelDataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "15-04-2025 Anonymized Invoices.xlsx",
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "invoice-container"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BlobToSnowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": true,
							"stagingSettings": {
								"linkedServiceName": {
									"referenceName": "LS_AzureBlobStorage",
									"type": "LinkedServiceReference"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BlobCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Snowflake_Invoice",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BlobCSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_Snowflake_Invoice')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureBlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_BlobToSnowflake_Invoice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File List",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_BlobCSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems",
								"itemName",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-04-15T05:28:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BlobCSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Blob_to_Snowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_Excel_Files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_BlobCSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter_Excel_Files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get_Excel_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Excel_Files').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endsWith(item().name, '.xlsx')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Get Metadata of column names",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Filter_Excel_Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "BlobCSVDataset",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"columnDefs": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BlobCSV')]",
				"[concat(variables('factoryId'), '/datasets/BlobCSVDataset')]"
			]
		}
	]
}